:root {
  --mfx-text-font: 'Gotham', sans-serif;
  --mfx-text-font-light: 'Gotham Light', sans-serif;
  --mfx-text-font-black: 'Gotham Black', sans-serif;
  --mfx-size-xxl: 44px;
  --mfx-size-xl: 34px;
  --mfx-size-lg: 24px;
  --mfx-size-md: 18px;
  --mfx-size-sm: 16px;
  --mfx-size-xs: 14px;
  --mfx-color-black:#141414;
  --mfx-color-white: #e5e5e5;
  --mfx-color-grey: #777;
  --mfx-color-red: #e50914;
  --mfx-color-dark-grey: #181818;
  --mfx-font-weight-bold: 800;
  --mfx-font-weight-light: 400;
}